.logoImg{
   width: 170px; 
}

.containerImg{
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
}
.txtEntreprise{
    font-size: 32px;
}
.containerTxtEntreprise{
    display: flex;
}

.buttonRetour{
    padding-bottom: 25px;
}

.inputContainer {
    width: 30%;
    border-radius: 100px;
    height: 31px;
    background: #EEEE;
    display: grid;
    grid-template-columns: 80% 10%;
    grid-template-rows: 100%;
    margin-top: 6px;
    margin-left: 38px;
  }
  
  .inputContainer input,
  .inputContainer select {
    padding-left: 20px;
    background: transparent;
    border: none;
  }
  
  select {
    appearance: none;
  }
  
  input:focus,
  select:focus {
    outline: none;
  }
.txt{
    font-size: 24px;
}
.containerAll{
    display: flex;
    flex-direction: column;
}

.containerInput_text{
    display: flex;
    margin-bottom: 10px;
}
.containerTxtInputUnique{
    display: flex;
}

.containerContact{
    display: flex;
    flex-direction: column;
    width: 8000px;
}
.AllContainerInput{
    display: flex;

}

input{
    width:400px;
}

form{
    display: flex;
    align-items: center;
}