body {
  min-height: 100vh;
}
:root {
  --color1: #008787;
  --color2: #025892;
  --color3: #E3E3E3;
  --color4: #D6D6D6;
  --color5: #FF3535;
}

/* Login page */

.logo {
  width: 40%;
  display: block;
  margin: auto;
}
.login-container {
  padding-top: 50px;
  min-width: 300px;
  width: 60%;
  max-width: 500px;
  margin: auto;
}
.login {
  width: 100%;
}
.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  /* padding: 20px; */
  margin-top: 30px;
  width: 70%;
  border-radius: 100px;
  min-height: 50px;
  background: var(--color3);
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 70px;
}
.input-container input {
  padding-left: 20px;
  background: transparent;
  border: none;
}
input:focus {
  outline: none;
}

.right-part {
  border-left: 1px solid var(--color4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-lock {
  width: 70%;
  max-width: 60px;
  max-height: 60px;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  background: var(--color2);
  text-align: center;
}
.background-lock img {
  width: 90%;
}