
p{
	color: #006C92;

}
.receptionner {
	background-color: #006b92;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 20px;
    text-decoration: none;
	outline: none;
	min-width: 200px;
	max-width: 500px;
	width: 50%;

}
.receptionner:hover {
	background-color:#005675;
	outline: none;
}
.receptionner:active {
	position:relative;
	top:1px;
}
.containerComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-top: 30vh;
}
.txtMail{
    font-size: 24px;
	text-align: center;
}
.container_receptionner{
	display: flex;
	justify-content: center;
	padding-top: 20px;
}
.logoMail{
	padding-bottom: 15px;
}

.txt_confirm{
	font-size: 24px;
}
.modal_container{
	padding: 5px 25px;
}

.yes_no_modal{
	display: flex;
    justify-content: space-around;
}
button{
	border: none;
}